<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="Jurisdictions_DB" connectionString="Data Source=BACKTRACK;Initial Catalog=Jurisdictions_DB;Integrated Security=True" />
    <add name="CSP_DW" connectionString="Data Source=BACKTRACK;Initial Catalog=CSP_DW;Integrated Security=True" />
    <add name="Standards_DB" connectionString="Data Source=BACKTRACK;Initial Catalog=Standards_DB;Integrated Security=True" />
  </connectionStrings>
</configuration>