<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JurisdictionsDbConnection" providerName="SqlClient" connectionString="Data Source=BACKTRACK;Initial Catalog=Jurisdictions_DB;Integrated Security=True"/>
    <add name="StandardsDbConnection" providerName="SqlClient" connectionString="Data Source=BACKTRACK;Initial Catalog=Standards_DB;Integrated Security=True"/>
  </connectionStrings>
</configuration>