<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerShellUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerShellUtilities.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>dcCDY5fhLLdYymBNRLPwaYao</value>
            </setting>
            <setting name="JurisdictionsListURL" serializeAs="String">
                <value>http://commonstandardsproject.com/api/v1/jurisdictions</value>
            </setting>
            <setting name="StandardSetsURL" serializeAs="String">
                <value>http://commonstandardsproject.com/api/v1/standard_sets</value>
            </setting>
        </PowerShellUtilities.Properties.Settings>
    </userSettings>
</configuration>